body {
    background-color: "B7472A";
}

#x2Id {
	color:red;
}

#xyId {
	color:blue;
}

#sinId {
	color:darkblue;
}

#cosId {
	color:red;
}

#tanId {
	color:green;
}

#radId {
	color:brown;
}

#10xId {
	color:burlywood;
}

#logId {
	color:chocolate;
}

#expId {
	color:coral;
}

#modId {
	color:cyan;
}

#uarrId {
	color:darkgray
}
	
#ceId {
	color:darkkhaki;
}
	
#cId {
	color:darkmagneta;
}

#larrId {
	color:darksalmon;
}
	
#divideId {
	color:black;
}

#piId {
	color:gray;
}

#sevenId {
	color:green;
}

#eightId {
	color:indianred;
}

#nineId {
	color:lawngreen;
}

#timesId {
	color:magneta;
}

#factId {
	color:lime;
}

#fourId {
	color:maroon;
}

#fiveId {
	color:aqua;
}

#sixId {
	color:orange;
}

#minusId {
	color:orchid;
}

#plusId {
	color:blue;
}

#oneId {
	color:plum;
}

#twoId {
	color:silver;
}

#threeId {
	color:skyblue;
}

#plusminusId {
	color:blue;
}

#paranopenId {
	color:teal;
}

#parancloseId {
	color:violet;
}

#zeroId {
	color:tomato;
}

#middotId {
	color:royalblue;
}

#equalId {
	color:purple;
}
